.container {
    display: flex;
    flex-flow: row wrap;
    width: 352px;
}

.grid-square {
    width: 20px;
    height: 20px;
    /*background-color: blueviolet;*/
    margin: 1px;
    flex: none;
}